.add-to-cart-btn {
    background-color: #92c150;
    color: #ffffff;
    border: none;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    width: 80%;
    max-width: 300px;
}

.add-to-cart-btn:hover {
    background-color: #82aa4a;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-to-cart-btn:active {
    background-color: #465d27;
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*--------- back button */

.backBtn {
    position:absolute;
    animation: opacityIn 0.5s ease-in-out;
    top: 1rem;
    left: 1rem;
    border: none;
    font-size: 2rem;
    margin: 5px;
    cursor: pointer;
    background-color: #eeeeee;
    border-radius: 8px;
    width: 5rem;
    height: 5rem;
    z-index: 11;
    transition: background-color 0.3s ease, transform 0.2s ease;

}
.backBtn:hover {
    background-color: #92c150;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.backBtn.disappear {
    animation: disappear 0.5s ease-in-out;
}