.homepageContainer {
    background-color: #eeeeee;
    margin: 2%;
    border-radius: 16px;
    padding: 2%;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    animation: flyIn 0.4s ease-in-out;
    min-width: 785px;
    max-width: 850px;
    justify-self: center;
}

@keyframes flyIn {
    0% {
        opacity: 0.7;
        transform: scale(0.95);
    }
    70% {
        opacity: 1;
        transform: scale(1.02);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.homepageContainer::-webkit-scrollbar {
    display: none;
}

.productCard {
    background-color: #ffffff;
    aspect-ratio: 3 / 4;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 3s ease, box-shadow 0.3s ease;
    font-family: "Poppins", sans-serif;
    color: #333333;
    position: relative;
    padding: 20px;
    scrollbar-width: none;
}


.productCard:hover { 
    box-shadow: 0 11px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.productCard.fadeIn {
    justify-content: space-between; 
    animation: fadeIn 0.5s ease-in-out forwards;
    position: fixed; 
    z-index: 10;
    overflow: hidden;
    flex-direction: column;
    
    align-items: center;
    padding-top: 2rem;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
}

@keyframes fadeIn {
    0% {
        transform: translate(0, 0) scale(1);
        width: 254.6px;
        height: 339.71px;   
    }
    50% {
        transform: translate(var(--start-x), var(--start-y));
    }
    100% {
        width: 60%;
        height: 70%;
        transform: translate(var(--start-x), var(--start-y));
        overflow: hidden;
        padding: 40px;
        cursor: default;
        overflow: scroll;
        
    }
}

@keyframes fadeOut {
    0% {
        padding: 40px;
        aspect-ratio: 3 / 4;
        z-index: 10;
        width: 330vw;
        height: 330vh;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 2rem;
        transform: translate(var(--start-x), var(--start-y));
        width: 60%;
        height: 60%;
        position: fixed;
    
    }
    50% {
              
        width: var(--dest-width);
        height: var(--dest-height);
        position: fixed;
        
    }
    100% {
        position: fixed;
        width: var(--dest-width);
        height: var(--dest-height);
        transform: translate(var(0), var(0));
      
    }
}
  
  .productCard.fadeOut {
    animation: fadeOut 0.5s ease-in-out forwards;
  } 

  .mealImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    filter: drop-shadow(0px 0px 20px #c2c2c2); 
  }


.mealImage.selected{
    animation: decreaseSize 0.5s ease-in-out forwards;


}
.mealImage.deselected{
    animation: increaseSize 0.5s ease-in-out forwards;
}

@keyframes decreaseSize {
    0% {
        width: 100%;
    }  
    100% {
        width: 15rem;
        filter: drop-shadow(0px 0px 40px #8f8f8f); 

    }
  }
  @keyframes increaseSize {
    0% {
        width: 50%;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 100%;
        
    }
  }

  @keyframes disappear {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    40% {
        transform: scale(0);
        position:absolute;
        opacity: 0;
       
        
    }
    100% {
        transform: scale(0);
        opacity: 0;
        display: none;
        position:absolute;
        
    }
  }

  .mealName {
    font-weight: 500;
    font-size: 1.2rem;
    color: #444444;
    margin-bottom: 0.5rem; 
    text-align: center; 
}

@keyframes opacityIn {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }
    100% {
        opacity: 1;

        transform: scale(1);
        
    }
  }

.backBtn {
    position:absolute;
    animation: opacityIn 0.5s ease-in-out;
    top: 1rem;
    left: 1rem;
    border: none;
    font-size: 2rem;
    margin: 5px;
    cursor: pointer;
    background-color: #eeeeee;
    border-radius: 8px;
    width: 5rem;
    height: 5rem;
    z-index: 11;
}
.backBtn.disappear {
    animation: disappear 0.5s ease-in-out;
}

.productCardOrigin {
    aspect-ratio: 3 / 4;
    height: 37%;   
    scrollbar-width: none;
}


